body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #071e3d;
}
.team-section{
  background: #f1f1f1;
  text-align: center;
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  color: #333;
  overflow: hidden;
}
.team-section h1{
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 10px;
}

.people {
  display: grid;
  grid-template-columns: auto auto auto;
}

.pe{
  overflow: hidden;
  padding: 40px 0;
  transition: 0.4s;
  margin-left: 10px;
}
.pe:hover{
  background: #ddd;
}
.pe img{
  width: 60%;

}
.p-name{
  margin: 16px 0;
  text-transform: uppercase;
}
.p-des{
  color: #1f4287;
}
.p-sm{
  margin-top: 12px;
}
.p-sm a{
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}
.p-sm a:hover{
  transform: scale(1.3);
}
.p-sm a i{
  color: #333;
  line-height: 30px;
}
@media screen and (max-width:768px) {
  .people {
    grid-template-columns: 1fr;
  }
}
